@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    /* background-color:rgb(44, 43, 43); */
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    width: 400px;
    height: 100vh;
    background-color: rgb(39, 38, 38);
}

a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    display: block;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-top: 10px;
}
a:first-child{
    padding-top: 50px;
}